<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-round-back" (click)="goToBackUrl()" style="font-size: x-large;"></ion-icon>
    <ion-title> {{ label.title }} </ion-title>
    <ion-buttons class="ion-no-margin" slot="end">
      <ion-button
          class="date-icon"
          color="active-status"
          (click)="openCalendar()"
          outline
          icon-only
        >
      <ion-icon [name]="config.icon"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-item *ngIf="blockOutList.length > 0">
    <ion-avatar item-start>
      <img [src]="therapist.profileImg" />
    </ion-avatar>
    <h2>{{ therapist.name }}</h2>
    <p>{{ therapist.speality }}</p>
  </ion-item> -->

  <ion-grid class="card" class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="6" size-xs="12" size-xl="6" size-sm="9" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row
            class="border-bottom ion-justify-content-center"
            *ngFor="let item of blockOutList; index as i"
            
          >
            <ion-col size="6" class="ion-no-padding">
              <div
                [ngClass]="{ active_date: item.date == todayDate }"
                class="ion-margin-vertical ion-text-center"
              >
                <div class="date">{{ item.date | date: 'dd' }}</div>
                <div class="month-year">
                  {{ item.date | date: 'LLL' | uppercase }}
                  {{ item.date | date: 'yyyy' }}
                </div>
              </div>
            </ion-col>
            <ion-col size="6" class="ion-no-padding" (click)="showViewAppointment(item)">
              <div class="block-border ion-margin-vertical ion-text-center">
                <div [ngClass]="{ active: item.attendees !== 0 }">
                  <span class="attendees"> {{ item.attendees }} </span>
                  <span [innerHTML]="doctorIcon" class="svgcl"></span>
                </div>
                <div class="details">
                  {{ label.details }}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isLoadMore">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
