    $color-link: var(--ion-color-nlink);
  
    $color-active: var(--ion-color-primary);
    $color-active-date: var(--ion-color-active-status);
    $color-border: var(--ion-color-nfont1);
    $color-border-rgb: var(--ion-color-nfont1-rgb);
  
    .card {
      justify-content: center;
    }
  
    .border-bottom {
      border-bottom: 1px solid rgba($color-border-rgb, 0.3);
    }
  
    .block-border {
      border-left: 2px solid rgba($color-border-rgb, 0.5);
    }
  
    .date {
      font-size: 34px;
      font-weight: bold;
    }
  
    .active {
      color: $color-active;
    }
  
    .active_date {
      color: $color-active-date;
    }
  
    .month-year {
      color: $color-link;
      --ion-font-size: 13px;
    }
  
    .attendees {
      font-size: 30px;
      vertical-align: bottom;
      margin-right: 4px;
    }
  
    svg {
      width: 22px;
      height: 22px;
      fill: $color-active;
    }

    .svgcl {
      width: 22px;
      height: 22px;
      fill: $color-active;
      display: inline-block;
    }
  
    .icon-user {
      --ion-font-size: 32px;
      margin-bottom: 2px;
    }
  
    .details {
      color: $color-link;
      --ion-font-size: 15px;
      letter-spacing: 1px;
    }
  