<ion-header *ngIf="!frmWizard">
  <ion-toolbar>
    <ion-buttons
      *ngIf="!serviceFlow"
      class="ion-margin-horizontal"
      slot="start"
      (click)="closeModal()"
    >
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ label.services }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!frmWizard">
  <ion-list class="border-bottom" *ngIf="services">
    <ion-item
      *ngFor="let item of services"
      (click)="selectService($event, item)"
    >
      <ion-thumbnail item-start slot="start"  class="text-center justify-content-center">
        <img [src]="item.service_photo" class="thumb" />
        <div class="div-icon" *ngIf="selectedService.id === item.id">
          <ion-icon class="selectedCheck" name="ios-checkmark-circle">
          </ion-icon>
        </div>
      </ion-thumbnail>
      <ion-label>
      <h2>{{ item.service_name }}</h2>
      <h5>
        {{ label.servicePrc }}
        {{ config.currency_symbol }}{{ item.service_price }}
      </h5>
      <h6 [innerHTML]="item.service_description"></h6>
    </ion-label>
      <ion-note class="text-slot" (click)="viewDetail($event, item)" slot="end">
        {{ label.details }}
      </ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="!services">
    {{ servicemsg }}
  </div>
</ion-content>

  <ion-list class="borxder-bottom" *ngIf="frmWizard && services" >
    <ion-item 
      *ngFor="let item of services"
      (click)="selectService($event, item)"
    >
      <ion-thumbnail item-start slot="start"  class="text-center justify-content-center">
        <img [src]="item.service_photo" class="thumb" />
        <div class="div-icon" *ngIf="selectedService.id === item.id">
          <ion-icon class="selectedCheck" name="ios-checkmark-circle">
          </ion-icon>
        </div>
      </ion-thumbnail>
      <ion-label>
      <h2>{{ item.service_name }}</h2>
      <h5>
        {{ label.servicePrc }}
        {{ config.currency_symbol }}{{ item.service_price }}
      </h5>
      <h6 [innerHTML]="item.service_description"></h6>
    </ion-label>
      <ion-note class="text-slot" (click)="viewDetail($event, item)" slot="end">
        {{ label.details }}
      </ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="!services">
    {{ servicemsg }}
  </div>
