<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-round-back" (click)="goToBackUrl()" style="font-size: x-large;"></ion-icon>
    <ion-title> {{ label.title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div (click)="showTherapist($event)">
      <ion-list class="listTherapist" *ngIf="!selectedTherapist.employee_name">
        <app-empty [templateType]="templateType" [componentName]="componentName"></app-empty>
      </ion-list>
      <ion-list
        *ngIf="selectedTherapist.employee_name"
        (click)="showTherapist($event)"
      >
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="selectedTherapist.employee_photo" />
          </ion-avatar>
          <ion-label>
            
            <h2 class="name-color">{{ selectedTherapist.employee_name }}</h2>
            <p>{{ selectedTherapist.employee_notes }}</p>
          </ion-label>
          <ion-note class="notec" slot="end" (click)="showProfile($event, selectedTherapist)">
            {{ label.view }}
          </ion-note>
        </ion-item>
      </ion-list>
    </div>

    <ion-item>
      <ion-label position="stacked" class="lble"> {{ label.subject }} <sup>*</sup></ion-label>
      <ion-input formControlName="subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="lble"> {{ label.message }} <sup>*</sup></ion-label>
      <ion-textarea formControlName="message" rows="6"></ion-textarea>
    </ion-item>
    <ion-item no-lines class="ion-text-center">
      <ion-row center  class="ion-padding  ion-align-items-center ion-justify-content-center" style="width:100%">
        <ion-col class="ion-text-center" size="12">
          <ion-button
            class="btn-login"
            type="submit"
            fill="outline"
            color="primary"
          >
            <ion-icon name="ios-send" slot="start"></ion-icon>
            {{ label.submitBtn | uppercase }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </form>
</ion-content>
