  $primary-color: var(--ion-color-primary);
  $color-nfont1: var(--ion-color-nfont1);
  $color-border: rgba(var(--ion-color-nfont1), 0.3);
  $light-color: var(--ion-color-light);
  $color-link: var(--ion-color-nlink);

  .signup-title {
    font-size: 15px;
    font-weight: bold;
    color: $color-nfont1;
  }

  .signup-sub-title {
    font-size: 24px;
    letter-spacing: 7px;
    font-weight: 400;
  }

  .text-color {
    color: $color-nfont1;
  }

  .signup-card {
    justify-content: center;
  }

  .text-color {
    color: $color-nfont1;
  }

  .active-button {
    background-color: $primary-color;
    border-color: $primary-color;
    font-weight: 900;
  }

  .active-button:hover {
    background-color: $primary-color !important;
  }

  .active-button > span {
    color: $light-color;
  }

  .border-left {
    border-left-width: 1px !important;
  }

  .border-right {
    border-right-width: 1px !important;
  }

  .border-radius-left {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }

  .border-radius-right {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }

  .border-color {
    border-color: $color-border
  }

  .btn-create {
    height: 44px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
  }

  .a-link {
    text-decoration: none;
    font-weight: bold;
    color: $color-link;
  }
