<ion-header no-border>
  <ion-toolbar transparent class="ion-text-center ion-no-padding"> 
    <ion-icon slot="start" name="arrow-round-back" (click)="closeModalBook()" style="font-size: x-large;" ></ion-icon>
          
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="signup-card">
    <ion-row class="ion-justify-content-center">
      <ion-col
        class="signup-sub-title text-color ion-text-center ion-padding-bottom"
        size="12"
      >
        {{ label.title | uppercase }}
      </ion-col>

      <ion-col size="12" size-sm="9" size-md="6" size-lg="6" size-xl="6">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <!-- <ion-row padding>
            <ion-item no-padding>
              <ion-input
                type="number"
                formControlName="mobile"
                placeholder="Mobile Number (for appointment updates)"
                required
              ></ion-input>
            </ion-item>
          </ion-row> -->
          <ion-row class="ion-padding-top ion-padding-left ion-padding-right">
            <ion-col>
              <ion-item class="ion-no-padding">
                <ion-input
                  type="email"
                  formControlName="email"
                  [placeholder]="label.email"
                  required
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-top" padding-left padding-right>
            <ion-col>  
              <ion-item class="ion-no-padding">
                <ion-input
                  type="text"
                  formControlName="name"
                  [placeholder]="label.fullName"
                  required
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- <ion-row padding-top padding-left padding-right>
            <ion-item no-padding>
              <ion-input
                type="text"
                formControlName="username"
                [placeholder]="label.username"
                required
              ></ion-input>
            </ion-item>
          </ion-row> -->
          <ion-row class="ion-padding-top" padding-left padding-right>
            <ion-col>
              <ion-item class="ion-no-padding">
                <ion-input
                  type="password"
                  formControlName="password"
                  [placeholder]="label.password"
                  required
                ></ion-input>
              </ion-item>
            </ion-col>  
          </ion-row>
        <!--  <ion-row padding>
            <ion-input
              type="text"
              formControlName="gender"
              hidden="true"
              required
            ></ion-input>
             <ion-col no-padding>
              <button
                ion-button
                type="button"
                class="border-color border-left border-right border-radius-left"
                [ngClass]="{
                  'active-button':
                    this.signupForm.controls['gender'].value === 'female',
                  'border-right':
                    this.signupForm.controls['gender'].value !== 'female' &&
                    this.signupForm.controls['gender'].value !== 'male'
                }"
                full
                outline
                icon-left
                (click)="setGender('female')"
              >
                <span
                  class="text-color"
                  [ngClass]="{
                    'text-color':
                      this.signupForm.controls['gender'].value !== 'female'
                  }"
                >
                  {{ label.genderF }}
                </span>
              </button>
            </ion-col>
            <ion-col no-padding>
              <button
                ion-button
                type="button"
                class="border-color border-right border-radius-right"
                [ngClass]="{
                  'active-button':
                    this.signupForm.controls['gender'].value === 'male'
                }"
                full
                outline
                icon-left
                (click)="setGender('male')"
              >
                <span
                  class="text-color"
                  [ngClass]="{
                    'text-color':
                      this.signupForm.controls['gender'].value !== 'male'
                  }"
                  >{{ label.genderM }}</span
                >
              </button>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-checkbox
            formControlName="terms"
            color="primary" style="margin-top: 15px;
            margin-left: 17px;"
          ></ion-checkbox>
                  <ion-item no-lines class="custom-checkbox" >
                      <ion-label style="color:black !important;">
                        I have accepted </ion-label>&nbsp;<a (click)="showTerms()" class="a-link" >T&Cs</a>
                      
                     </ion-item> 
                   
              </ion-row>

          <ion-row class="ion-padding">
            <ion-col size-md="12">
              <ion-button
                type="submit"
                expand="block"
                color="primary"
                class="btn-create"
                [disabled]="!signupForm.valid"
              >
                {{ label.create }}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
