<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6 class="ion-no-padding">
        <ion-grid class="ion-no-padding" *ngIf="bookingList.length > 0">
          <ion-row
            class="border-bottom ion-justify-content-center"
            *ngFor="let item of bookingList; index as i"
            
          >
            <ion-col col-3 class="ion-no-padding">
              <div class="block-border" class="ion-margin-vertical ion-text-center">
                <div class="month-year">
                  {{ item.booking_date | date: 'EEE' | uppercase }}
                </div>
                <div class="date">
                  {{ item.booking_date | date: 'dd' }}
                </div>
                <div class="month-year">
                  {{ item.booking_date | date: 'LLL' | uppercase }}
                  {{ item.booking_date | date: 'yyyy' }}
                </div>
              </div>
            </ion-col>
            <ion-col col-9 class="ion-no-padding">
              <div class="ion-margin-vertical ion-margin-left">
                <div
                  class="therapist-name"
                  [ngClass]="{ 'inactive-status': item?.empty }"
                >
                  <div class="icon-doctor" [innerHTML]="doctorIcon"></div>
                  {{ item.employee_detail.employee_name }}
                </div>
                <div></div>
                <div class="text-info">
                  <ion-icon
                    class="navigate"
                    name="ios-mail-outline"
                    color="nlink"
                  ></ion-icon>
                  {{ item.employee_detail.employee_email }}
                  <!-- <ion-icon
                      class="navigate"
                      name="ios-navigate-outline"
                      color="nlink"
                    ></ion-icon> -->
                </div>
                <div class="text-info">
                  <ion-icon
                    class="navigate"
                    name="md-call"
                    color="nlink"
                  ></ion-icon>
                  {{ item.employee_detail.employee_phone }}
                </div>

                <div class="text-info ion-text-justify"  *ngIf="item?.service_detail">
                  <b>Service</b> : {{ item.service_detail.service_name }}
                </div>
                <div>
                  <span
                    class="text-info"
                    [ngClass]="{
                      'active-status': item?.order_status === 'S',
                      'inactive-status': item?.order_status === 'P',
                      'cancel-status': item?.order_status === 'C'
                    }"
                  >
                    <b>{{ label.status }}</b> :
                    <span *ngIf="item?.order_status === 'S'">
                      {{ label.scheduleConfirm }}
                    </span>
                    <span *ngIf="item.order_status === 'P'">
                      {{ label.pending }}
                    </span>
                    <span *ngIf="item.order_status === 'C'">
                      {{ label.canceld }}
                    </span>
                  </span>
                  <span class="text-info"> | </span>
                  <span class="text-info">
                    <b>{{ label.fee }}</b> : {{ config.currency_symbol
                    }}{{ item.order_final_cost }}
                  </span>
                  
                </div>
                <div class="text-info ion-text-justify"  *ngIf="item?.service_detail">
                  <b>Payment Type</b> : {{ item.order_payment }}
                </div>
                <div *ngIf="!item.empty" class="text-patient ion-text-justify" >
                  <b>{{ label.bookfor }}</b> : {{ item.order_name }}
                </div>
                <div *ngIf="item.empty" class="text-patient active">
                  {{ item.order_name }}
                </div>
                <div>
                  <span
                    class="text-info ion-text-justify"
                    [ngClass]="{
                      active: item.order_status === 'S'
                    }"
                    
                  >
                    <b>{{ label.time }}</b> : {{ item.start_time }}
                  </span>
                  <span class="text-info"> | </span>
                  <span class="text-info ion-text-justify" >
                    <b>{{ label.slot }}</b> : {{ item.nslots }}
                  </span>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll
            (ionInfinite)="doInfinite($event)"
            *ngIf="isLoadMore"
          >
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data..."
            ></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
