    $active: var(--ion-color-primary);
    $color-nlink: var(--ion-color-nlink);
    $color-nfont1: var(--ion-color-nfont1);
    $active-status-color: var(--ion-color-active-status);
    $inactive-status-color: var(--ion-color-inactive-status);
    $border-color: rgba(var(--ion-color-nfont1-rgb), 0.3);
  
    .border-bottom {
      border-bottom: 0.5px solid $border-color;
    }
  
    .date {
      font-size: 28px;
      font-weight: bold;
    }
  
    .month-year {
      color: $color-nlink;
      font-size: 12px;
    }
  
    .block-border {
      border-right: 2px solid $border-color;
    }
  
    .icon-doctor {
      height: 16px;
      width: 16px;
      display: block;
      float: left;
      margin-top: 2px;
      margin-right: 4px;
    }
  
    .therapist-name {
      font-size: 18px;
      font-weight: 400;
    }
  
    .text-info {
      font-size: 12px;
      color: $color-nfont1;
    }
  
    .text-patient {
      font-size: 16px;
      margin-top: 8px;
    }
  
    .active {
      color: $active;
    }
    .active-status {
      color: $active-status-color;
    }
    .inactive-status {
      color: $inactive-status-color;
    }
  
    .navigate {
      font-weight: bold;
      vertical-align: bottom;
      margin-right: 7px;
    }
  
  