    $link-color: var(--ion-color-nlink);
    $nfont1-color: var(--ion-color-nfont1);
  
    $active-status-color: var(--ion-color-active-status);
    $inactive-status-color: var(--ion-color-inactive-status);
  
    .text-info {
      color: $nfont1-color;
    }
  
    .text-slot {
      color: $link-color;
      font-weight: bold;
      margin-left: 3px;
    }
  
    .bottom {
      vertical-align: bottom;
    }
  
    .active-status {
      color: $active-status-color;
    }
  
    .inactive-status {
      color: $inactive-status-color;
    }
  
  