<ion-header *ngIf="isFilterSet" no-border>
  <ion-toolbar transparent class="ion-no-padding ion-text-center">
    <ion-icon slot="start" name="arrow-round-back" (click)="closeModal()" style="font-size: x-large;"></ion-icon>

    <ion-title> {{ label.filter }} : {{ filterData.date | date }} </ion-title>
    <ion-buttons class="ion-no-margin" slot="end" (click)="closeModal()">
      <ion-button slot="icon-only" color="primary">
        <ion-icon color="nfont1" name="md-close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      *ngFor="let item of appointmentList"
      (click)="showDetailsToaster(item)"
    >
      <ion-avatar slot="start">
        <img src="assets/imgs/user.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ item.order_name }}</h2>
        <h3 class="text-info">
          <b> {{ item.service_detail.service_name }}</b>
        </h3>
        <h3 class="text-info">
          <span
            class="text-info"
            [ngClass]="{
              'active-status': item.order_status === 'S',
              'inactive-status': item.order_status === 'P',
              'cancel-status': item.order_status === 'C'
            }"
          >
            {{ item.booking_date | date }}
          </span>
          <span class="text-slot">
            <ion-icon class="bottom" name="md-time"></ion-icon>
            {{ formatInTime(item.start_time) }}
          </span>
        </h3>
        <p>{{ item.note }}</p>
  
      </ion-label>
      
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isLoadMore">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
