<ion-content>
  <div *ngIf="!profile.status" class="main-box error-bg">
    <div class="empty-box1"></div>
    <div justify-content-center text-center class="icon-box">
      <div [innerHTML]="errorIcon.data"></div>
    </div>

    <div text-center class="message">
      {{ label.failed }}
    </div>

    <ion-grid no-padding>
      <ion-row class="info-tab" *ngIf="!profile.status">
        <ion-col text-center> {{ label.tab1 }} </ion-col>
      </ion-row>
      <ion-row class="info-row" *ngFor="let key of profile.data | objkeys">
        <ion-col class="text text-bold margin-vertical -ion-margin-left" >
          {{ key | uppercase }}
        </ion-col>
        <ion-col class="text margin-vertical" text-justify margin-right>
          {{ profile.data[key] }}
        </ion-col>
      </ion-row>

      <ion-row text-center margin-vertical>
        <ion-col>
          <ion-button
            fill="outline"
            icon-start
            color="primary"
            (click)="retryBooking()"
          >
            <ion-icon name="ios-warning-outline" slot="start"></ion-icon> {{ label.btn1 }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="main-box success-bg" *ngIf="profile.status">
    <div class="empty-box1"></div>
    <div justify-content-center text-center class="icon-box bg-border">
      <div class="svg" [innerHTML]="successIcon.data"></div>
    </div>

    <div text-center class="message">
      {{label.success}}
    </div>

    <ion-grid no-padding>
      <ion-row class="info-tab">
        <ion-col text-center>
          {{label.tab2}}
        </ion-col>
      </ion-row>

      <ion-row class="info-row" *ngFor="let key of profile.data | objkeys">
        <ion-col class="text text-bold margin-vertical" margin-left>
          {{ key | uppercase }}
        </ion-col>
        <ion-col class="text margin-vertical" text-justify margin-right>
          {{ profile.data[key] }}
        </ion-col>
      </ion-row>

      <ion-row text-center margin-vertical>
        <ion-col>
          <ion-button
            fill="outline"
            icon-start
            color="primary"
            (click)="goToHome()"
          >
            <ion-icon name="ios-home-outline" slot="start"></ion-icon>
            {{label.btn2}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
