<ion-content fullscreen="true" class="card">
  <!--on-header no-border transparent>
    <ion-toolbar transparent translucent> 
      <ion-icon slot="start" name="arrow-round-back" (click)="goToBackUrl()" style="font-size: x-large;"></ion-icon>

    </ion-toolbar>
  </!--on-header -->
  
  <ion-grid class="ion-no-padding">
    <ion-row >
      <ion-col >
      <div class="bg3">
        <ion-toolbar transparent translucent color="translucent"> 
          <ion-icon slot="start" name="arrow-round-back" (click)="goToBackUrl()" style="font-size: x-large;"></ion-icon>
      
        </ion-toolbar>
      <div class="empty-box"> 
        <div class="box box-bg">
          <img class="img-preview" [src]="employee_photo" />
          <br />
        </div>
      </div>

      <div class="title ion-text-center" >{{ profile.name }}</div>

      <!-- <ion-row>
        <ion-col class="border-right" col-6 text-right no-padding>
          <div class="subtitle">{{ profile.email }}</div>
        </ion-col>
        <ion-col class="border-left" col-6 text-left no-padding>
          <div class="subtitle">{{ profile.phone }}</div>
        </ion-col>
      </ion-row> -->

      <ion-row class="info-tab">
        <ion-col class="ion-text-center">
          <span class="info-tab-text">
            {{ isEditFlag ? label.updateProfile : label.information }}
          </span>
          <span *ngIf="isEdit" (click)="isEditFlag = !isEditFlag" class="ion-float-right">
            <ion-icon
              *ngIf="!isEditFlag"
              class="edit-icon"
              color="nlink"
              name="md-create"
            ></ion-icon>
            <ion-icon
              *ngIf="isEditFlag"
              class="edit-icon"
              color="nfont1"
              name="md-close-circle"
            ></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </div>
    
  </ion-col>
</ion-row>

    <div *ngIf="!isEditFlag">
      <ion-row *ngFor="let key of profile | objkeys" class="info-row">
        <ion-col class="text text-bold margin-vertical" margin-left>
          {{ key | uppercase }}
        </ion-col>
        <ion-col class="text margin-vertical" text-justify>
          {{ profile[key] }}
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid *ngIf="isEditFlag" padding margin-top margin-right>
    <form [formGroup]="profileUpdate" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating" class="ion-label">
          {{ label.name | uppercase }}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="ion-label">
          {{ label.email | uppercase }}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input
          type="text"
          formControlName="email"
          disabled="true"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="ion-label">
          {{ label.phone | uppercase}}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input type="number" formControlName="phone"></ion-input>
      </ion-item>
      <!-- <div class="border-bottom padding-right" margin-left (click)="showCountry($event)">
        <div>
          <ion-label stacked>SELECT COUNTRY</ion-label>
        </div>
        <div class="value-data">
          <div>
            {{this.profileUpdate.value.country}}
          </div>
        </div>
      </div> -->
      <ion-item>
        <ion-label position="floating" class="ion-label">
          {{ label.country | uppercase }}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input type="text" formControlName="country"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="ion-label">
          {{ label.state | uppercase }}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="ion-label">
          {{ label.city | uppercase }}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="ion-label">
          {{ label.address | uppercase }}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          {{ label.postcode | uppercase }}
          <!-- <sup class="color-danger">*</sup> -->
        </ion-label>
        <ion-input type="text" formControlName="zip"></ion-input>
      </ion-item>
      
      <ion-item no-lines class="ion-text-center">
        <ion-row padding>
          
        </ion-row>
      </ion-item>
      <ion-button
            class="btn-login"
            type="submit"
            expand="block"
            color="primary"
          >
            {{ label.submitBtn | uppercase }}
          </ion-button>
    </form>
  </ion-grid>
</ion-content>
