    $active-status-color: var(--ion-color-active-status);
    $dark-color: var(--ion-color-dark);
    $nbg1-color: var(--ion-color-nbg1);
  
    .avatar-img {
      width: 51px;
      height: 51px;
    }
  
    .avatar-img img {
      border-radius: 17px;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  
    .selectedCheck {
      --ion-font-size: 18px;
      color: $active-status-color;
      margin: 0 1px;
    }
  
    .name-color {
      color: $dark-color;
    }
  
    .btn-book {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .ion-note {
      /*width: 70px;*/
      margin: 1px 0 !important;
    }
  
    .div-icon {
      width: 17px;
      height: 17.5px;
      bottom: 4px;
      left: 14px;
      position: absolute;
      background-color: $nbg1-color;
      border-radius: 100%;
    }
  