    $active-color: var(--ion-color-primary);
    $nbg1-color: var(--ion-color-nbg1);
    $text-color: var(--ion-color-nfont1);
    $back-color: rgba(var(--ion-color-success-rgb), 0.14);
    $deactive-back-color: rgba(var(--ion-color-danger-rgb), 0.14);
    $border-color: rgba(var(--ion-color-nfont1-rgb), 0.3);
  
    .slot-name { 
      color: $text-color;
      font-size: 17px;
      font-weight: bold;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .col-slot {
      padding: 1px !important;
    }
  
    .time-slot {
      border: 1px solid $back-color;
      border-radius: 3px;
      width: 100%;
      /*padding-top: 30%;
      padding-bottom: 30%;*/
      padding-top: 15%;
      padding-bottom: 15%;
      background-color: $back-color;
    }
  
    .time-deactive-slot {
      border: 1px solid $border-color;
      border-radius: 3px;
      width: 100%;
      padding-top: 15%;
      padding-bottom: 15%;
      background-color: $deactive-back-color;
    }
  
    .time-title {
      font-size: 18px;
      font-weight: 400;
      color: $text-color;
    }
  
    .active {
      background-color: $nbg1-color;
      color: $active-color;
      font-weight: bold;
      border-color: $active-color;
      border-radius: 12px;
    }
  
    .button.customBtn {
      width: 150px;
    }
  
    ion-buttons[start] {
      order: 4;
    }
  
    .cardHeader
    {
      background-color: #cec8c8;
    }

  ion-content
  {
      --ion-background-color:#eff0f1;
  }

.event
{
    border-top: 3px solid rgb(95, 91, 91) ;
    border-bottom: 1px solid rgb(95, 91, 91) ;
    border-left: 1px solid rgb(95, 91, 91) ;
    border-right: 1px solid rgb(95, 91, 91) ;
    background-color: #ffffff;
}

.forecast_container{
  overflow-x: scroll!important;
  overflow-y: hidden;
  word-wrap: break-word;
  height:30vw;
  font-size:0.8em;
  font-weight:300;
}

::-webkit-scrollbar {
  width: 14px !important;
}

/* Track */
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
 -webkit-border-radius: 10px !important;
 border-radius: 10px !important;
 -webkit-overflow-scrolling: auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px !important;
 border-radius: 10px !important;
 background: #41617D !important; 
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

}
::-webkit-scrollbar-thumb:window-inactive {
 background: #41617D !important; 
}

::-webkit-scrollbar:horizontal {
  height:11px;
}