    $tab-color:  var(--ion-color-primary);
  
    .tabbar:after {
      background: none !important;
    }
  
    .tab-button[aria-selected='true'] {
      border-bottom: 1.5px solid $tab-color;
    }
  