/**** wizard css **/

$primary-color: var(--ion-color-primary);
$dark-color: var(--ion-color-dark);
$active-status-color: var(--ion-color-active-status);
$border-color: rgba(var(--ion-color-nfont1-rgb), 0.3);
$color-nfont: var(--ion-color-nfont);
$color-nfont1: var(--ion-color-nfont1);

ion-label {
  color: $primary-color !important; /*  cornflowerblue !important; */
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}

.padding-right {
  padding-right: 8px;
}

.value-data {
 --ion-font-size: 1.6rem;
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 20px;
}

.rightIcon {
  font-size: 21px;
  margin: 0px !important;
  padding-top: 18px !important;
}

.listTherapist {
  max-height: 201px;
  overflow-y: auto;
}

.therapistItem {
  min-height: 1.4rem !important;
  /*border: 0.55px solid $border-color;*/
}

.selectedCheck {
  font-size: 42px;
  color: $active-status-color;
}

.name-color {
  color: $dark-color;
}

.list-header {
  margin-top: 11px;
  padding: 11px 0 10px 16px;
  border-bottom: 0.55px solid $border-color;
  border-top: none;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $color-nfont !important;
  background: 0 0;
}

.label-custom {
  color: $color-nfont1 !important;
  margin-left: 8px;
}

.label-ios {
  margin-left: 0px;
}

.align-right {
  input {
    text-align: right;
    ::-webkit-input-placeholder {
      text-align: right;
    }
  }
}

.col-left {
  margin: auto;
  padding: 0px;
}

.font-label {
  font-size: 16px;
}

.avatar-img {
  width: 51px;
  height: 51px;
}

.avatar-img img {
  border-radius: 17px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.backButton
{
  /*background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin-left:0.2rem;*/
  border-radius: 4px;
  margin-left: 0.2rem;
  color: #488aff;
  background: transparent;
  /* background: transparent; */
 /* border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;*/
  border:1px solid #488aff;
  font-size:14px ;
  padding: 4px 11px;

}

.nextButton
{
  /*background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin-left:0.2rem;*/
    border-radius: 4px;
    margin-left: 0.2rem;
    color: #488aff;
    background: transparent;
    /* background: transparent; */
   /* border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;*/
    border:1px solid #488aff;
    font-size:14px ;
    padding: 4px 11px;


}

:host ::ng-deep .mat-horizontal-stepper-header-container
{
  display: none !important; 
}

.lbl
{
  font-size: 0.7rem;
}

.list {
  --ion-font-size: 1.6rem;
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 20px;
}