@font-face {
    --ion-font-family: 'Source Sans Pro';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  $font-family-base: 'Source Sans Pro'; 
  $font-family-md-base: $font-family-base;
  $font-family-ios-base: $font-family-base;
  $font-family-wp-base: $font-family-base;
