<ion-header *ngIf="!frmWizard">
  <ion-toolbar>
    <ion-buttons
      *ngIf="!serviceFlow"
      class="ion-margin-horizontal"
      slot="start"
      (click)="closeModal()"
    >
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ label.expiredcoupons }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!frmWizard">
  <ion-list class="border-bottom" *ngIf="isCoupon">
    <ion-item
      *ngFor="let item of coupons"
      (click)="selectCoupon($event, item)"
    >
      <!--<ion-thumbnail item-start slot="start"  class="text-center justify-content-center">
        <img [src]="item.service_photo" class="thumb" />
        <div class="div-icon" *ngIf="selectedService.id === item.id">
          <ion-icon class="selectedCheck" name="ios-checkmark-circle">
          </ion-icon>
        </div>
      </ion-thumbnail>-->
      <ion-label>
      <h2 style="font-weight: bold; font-size:18px;">{{item.coupon_name}}</h2>
      <h5 style=" font-size:16px;">
        USE CODE:&nbsp;<span style="font-weight: bold; font-size:18px;">{{item.coupon_code}}</span>
      </h5>
      <h6 [innerHTML]="item.service_description"></h6>
    </ion-label>
      <ion-note class="text-slot" (click)="viewDetail($event, item)" slot="end">
        {{ label.details }}
      </ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="!isCoupon">
    {{ servicemsg }}
  </div>
</ion-content>

  <ion-list class="borxder-bottom" *ngIf="frmWizard && isCoupon" >
    <ion-item 
      *ngFor="let item of coupons"
      (click)="selectCoupon($event, item)"
    >
      <ion-thumbnail item-start slot="start"  class="text-center justify-content-center">
        <img [src]="item.service_photo" class="thumb" />
        <div class="div-icon" *ngIf="selectedService.id === item.id">
          <ion-icon class="selectedCheck" name="ios-checkmark-circle">
          </ion-icon>
        </div>
      </ion-thumbnail>
      <ion-label>
      <h5 style=" font-size:18px;">
        Offer Name:&nbsp;<span style="font-weight: bold; font-size:18px;">{{item.coupon_name}}</span>
      </h5>
      <h5 style=" font-size:18px;">
        Use Code:&nbsp;<span style="font-weight: bold; font-size:18px;">{{item.coupon_code}}</span>
      </h5>
      <h5 style=" font-size:18px;">
        Description:&nbsp;<span style="font-weight: bold; font-size:18px;">{{item.coupon_code}}</span>
      </h5>
      <h5 style=" font-size:18px;">
        Total Uses:&nbsp;<span style="font-weight: bold; font-size:18px;">{{item.max_total_use}}</span>
      </h5>
      <h5 style=" font-size:18px;">
        Remaining Uses:&nbsp;<span style="font-weight: bold; font-size:18px;">{{item.coupon_code}}</span>
      </h5>
      <h6 [innerHTML]="item.service_description"></h6>
    </ion-label>
      <ion-note class="text-slot" (click)="viewDetail($event, item)" slot="end">
        {{ label.details }}
      </ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="!isCoupon">
    {{ servicemsg }}
  </div>
