    $primary-color: var(--ion-color-primary);
    $dark-color: var(--ion-color-dark);
    $active-status-color: var(--ion-color-active-status);
    $border-color: rgba(var(--ion-color-nfont1-rgb), 0.3);
    $color-nfont: var(--ion-color-nfont);
    $color-nfont1: var(--ion-color-nfont1);
  
    ion-label {
      color: $primary-color !important; /*  cornflowerblue !important; */
    }
  
    .border-bottom {
      border-bottom: 1px solid $border-color;
    }
  
    .padding-right {
      padding-right: 8px;
    }
  
    .value-data {
     --ion-font-size: 1.6rem;
      margin-top: 8px;
      margin-bottom: 8px;
      min-height: 20px;
    }
  
    .rightIcon {
      font-size: 21px;
      margin: 0px !important;
      padding-top: 18px !important;
    }
  
    .listTherapist {
      max-height: 201px;
      overflow-y: auto;
    }
  
    .therapistItem {
      min-height: 1.4rem !important;
      border: 0.55px solid $border-color;
    }
  
    .selectedCheck {
      font-size: 42px;
      color: $active-status-color;
    }
  
    .name-color {
      color: $dark-color;
    }
  
    .list-header {
      margin-top: 11px;
      padding: 11px 0 10px 16px;
      border-bottom: 0.55px solid $border-color;
      border-top: none;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: $color-nfont !important;
      background: 0 0;
    }
  
    .label-custom {
      color: $color-nfont1 !important;
      margin-left: 8px;
    }
  
    .label-ios {
      margin-left: 0px;
    }
  
    .align-right {
      input {
        text-align: right;
        ::-webkit-input-placeholder {
          text-align: right;
        }
      }
    }
  
    .col-left {
      margin: auto;
      padding: 0px;
    }
  
    .font-label {
      font-size: 16px;
    }
  
    .avatar-img {
      width: 51px;
      height: 51px;
    }
  
    .avatar-img img {
      border-radius: 17px;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  