<button
  *ngIf="config.type === 'icon'"
  class="date-icon"
  color="active-status"
  (click)="openCalendar()"
  ion-button
  outline
  icon-only
>
  <ion-icon [name]="config.icon"></ion-icon>
</button>

<div
  #calendarDiv
  id="calendarDiv"
  class="list"
  *ngIf="config.type === 'list'"
  (click)="openCalendar()"
>
  {{ selectedDate }}
  <ion-icon
    class="calendar-icon ion-float-right"
    color="nlink"
    [name]="config.icon"
    
  ></ion-icon>
</div>
