    .date-icon {
      border: none !important;
    }
  
    .calendar-icon {
      font-size: 21px;
    }
  
    .list {
      --ion-font-size: 1.6rem;
      margin-top: 8px;
      margin-bottom: 8px;
      min-height: 20px;
    }
  
  
    .bar-button {
      --ion-font-size: 18px;
      font-weight: 500;
    }
  
    ion-buttons[start] {
      order: 4;
    }
  
    .toolbar-title {
      --ion-font-size: 20px;
      font-weight: 500;
    }
  