
    $color-nfont1: var(--ion-color-nfont1);
    $color-warning-msg: var(--ion-color-warning-msg);
  
    .card {
      height: 80%;
      justify-content: center;
    }
  
    .page-card {
      --ion-font-size: 86px;
      color: $color-nfont1;
    }
  
    .message {
      --ion-font-size: 21px;
      font-weight: 400;
    }
  
    .list-card {
      color: $color-nfont1;
    }
  
    ion-avatar[item-start] {
      margin: 8px !important;
    }
  
    .icon-avtar {
      font-size: 47px;
    }
  
    .title {
      color: $color-warning-msg;
    }
  
    .sub-title {
      --ion-font-size: 11px;
    }
  