<ion-grid class="card" *ngIf="templateType === 'page'">
  <ion-row>
    <ion-col text-center>
      <div
        class="page-card"
        center
        text-center
        justify-content-center
        align-items-center
      >
        <ion-icon [name]="config[componentActive].icon"></ion-icon>
        <div class="message">
          {{ config[componentActive].message | uppercase }}
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="templateType === 'list'">
  <ion-item class="list-card">
    <ion-avatar slot="start"  >
      <ion-icon
        class="icon-avtar"
        [name]="config[componentActive].icon"
      ></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3 class="title">{{ config[componentActive].message | uppercase }}</h3>
      <p class="sub-title">{{ config[componentActive].subTitle | uppercase }}</p>

    </ion-label>
    
  </ion-item>
</div>
