/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


$color-primary: var(--ion-color-primary);
$color-nbg1: var(--ion-color-nbg1);
$color-nbgFont: var(--ion-color-nbgFont);
$color-warning: var(--ion-color-warning-msg);
$color-danger: var(--ion-color-danger);

  .bg1 {

    /*--background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga.jpg') center no-repeat;

    --background-size: cover;
    --background-position: top;
    *
    --background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga.jpg') no-repeat contain fixed center;

    /*background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga.jpg') no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    */
    --background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga.jpg') 0 0/100% 100% no-repeat;;

  }
  
  .dashboardBackgrnd {

    /*--background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga1.jpg') center no-repeat;

    --background-size: cover;
    --background-position: top;

    *
    --background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga.jpg') no-repeat fixed center;

    background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga.jpg') contain no-repeat fixed center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    */
    --background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('assets/imgs/yoga1.jpg') 0 0/100% 100% no-repeat;

  }
  
  
  .wifiDiv {
    height: 90%;
    width: 100%;
  }
  
  .appCard {
    height: 90%;
    justify-content: center;
  }
  
  .appFont {
    color: $color-nbgFont;
  }
  
  .app-container-img {
    height: 151px;
  }
  
  .app-container-img svg {
    width: 100%;
    height: 100%;
  }
  
  .app-container-img .svg-fill {
    fill: rgba($color-warning, 0.59);
  }
  
  .icon-color {
    color: $color-danger;
    font-weight: 500;
    font-size: 27px !important;
  }
  
  .app-img-wifi {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
   