<ion-content class="dashboardBackgrnd" fullscreen="true">
  <ion-header no-border transparent>
    <ion-toolbar transparent translucent class="ion-no-padding" slot="end" color="translucent">
      <!-- <ion-buttons
        *ngIf="userData.user_role"
        class="btn-bg btn-left"
        (click)="openPage(infoMenu)"
        no-margin
        start
      >
        <button class="btn-icon btn-icon-left" ion-button icon-only>
          <ion-icon
            color="nlink"
            class="link"
            name="ios-information-circle-outline"
          ></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title></ion-title>
      <ion-buttons class="btn-bg btn-right ion-no-margin"  slot="end" (click)="logOut()">
        <ion-button
          class="btn-icon btn-icon-right"
          slot="icon-only"
          color="primary"
          slot="end"
        >
          <ion-icon color="nlink" name="md-log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="card">
    <ion-row class="ion-justify-content-center ion-text-center text-transform">
      <ion-col size="12">
      <div>
        <div class="box box-bg">
          <img class="img-preview" [src]="config.small_logo" />
        </div>
        <div class="title text-color">
          {{ label.welcome }}
        </div>
        <div class="sub-title text-color">
          {{ userData.name | uppercase }}
        </div>
      </div>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer transparent translucent="true" color="translucent">
  <ion-grid class="ion-no-padding" *ngIf="dashboardList.length > 0">
    <ion-row
      class="ion-row-bg ion-text-center"
      *ngFor="let dashboardRow of dashboardList"
    >
      <ion-col
        class="col-slot ion-margin-top ion-text-center" 
        [ngClass]="{
          'col-slot-2': colSlot === item.id && userData.user_role,
          'col-slot-3': colSlot === item.id && !userData.user_role
        }"
        *ngFor="let item of dashboardRow"
         
        (click)="openPage(item)"
      >
        <div class="divBlock">
          <div
            [ngClass]="{
              'svg-fill': item.iconType === 'fill'
            }"
            [innerHTML]="item.icon"
          ></div>
          <div class="title-name">
            {{ item.name }}
          </div>
          <div *ngIf="item.infoMsg" class="info-msg">
            {{ item.infoMsg }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
