<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-round-back" (click)="goToBackUrl()" style="font-size: x-large;"></ion-icon>
    <ion-title> {{ title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-tabs tabsPlacement="top">
    <ion-tab tabTitle="All" [root]="tab1root" rootParams="all"></ion-tab>
    <ion-tab
      tabTitle="Upcoming"
      [root]="tab2root"
      rootParams="upcoming"
    ></ion-tab>
    <ion-tab tabTitle="Past" [root]="tab3root" rootParams="past"></ion-tab>
  </ion-tabs> -->

  <super-tabs>
    <super-tabs-toolbar slot="top">
      <super-tab-button>
        <ion-icon name="home"></ion-icon>
        <ion-label>Active</ion-label>    
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="home"></ion-icon>
        <ion-label>Expired</ion-label>    
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-nav [root]="tab1root" [rootParams]="{ id: 'active' }"></ion-nav>
      </super-tab>
      <super-tab>
        <ion-nav [root]="tab2root" [rootParams]="{ id: 'expired' }"></ion-nav>
      </super-tab>

    </super-tabs-container>
  
  </super-tabs>
</ion-content>



